@{
    ViewBag.Title = "Информация о программе";
}
<link rel="stylesheet" href="~/Content/css/bootstrap.css" />
<body>
    <div class="container">
        <div>
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>
        </div>
        <p>
            Авторы: Бабушкин Борис Дмитриевич, Лавров Владислав Васильевич.<br />
            @ViewBag.Assembly<br />
            2020 г.
        </p>
    </div>
</body>