@{
    ViewBag.Title = "Контакты";
}

    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
<body>
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </div>

    
        <address>
            620002, Россия, г. Екатеринбург, ул. Мира, д. 28.<br />
            Кафедра "Теплофизика и информатика в металлургии", ИНМТ Уральский федеральный университет<br />
            <abbr title="Телефон рабочий">Телефон рабочий:</abbr>
            (343) 375-44-51
        </address>
   
        
   
        <address>
            <strong>Техническая поддержка:</strong>   <a href="mailto:v.v.lavrov@urfu.ru">v.v.lavrov@urfu.ru</a><br />

        </address>
    
</body>
